@media screen and (max-width: 728px)
	.customnavbar
		.brand-logo
			margin 0px auto
		.navbar-header
			button
				margin-top 30px !important
				margin-buttom 0px !important
		.navbar-collapse
			margin-top 30px !important
	.da-slider
		height 200px !important
	.da-slide 
		left auto
		text-align center !important
	.da-slide p
		display none
	.da-slide h2
		display block !important
		font-size 2em
		left auto
		top 20px
		width 100%
	.da-slide .da-link
		top 200px
	.da-slide .da-img
		left 0px
		display none
	.box_stat
		margin-top 16px
		margin-bottom 8px
		padding 24px
	.ih-item 
		margin 0 auto;
	.ih-item .circle
		width 100%